{% extends "base.html" %}
{% block content %}
<div class="row mb-3 bg-main-page p-3">
  <div class="col-sm-12">
    <h2 class="text-center display-4">Úvodní stránka</h2>
  </div>
</div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center headline text-light p-2">Rozcestí zemí</h2>
        {% include "blocks/country.html" %}
    </div>
    <div class="col-md-3">
        <h2 class="text-center headline text-light p-2">Země s největší hustotou zalidnění</h2>
        {% include "blocks/countryByDensity.html" %}
    </div>
    <div class="col-md-3">
        <h2 class="text-center headline text-light p-2">Top 10 Regionů podle počtu obyvatel</h2>
        {% include "blocks/regionByPopulation.html" %}
    </div>
</div>
{% endblock %}